<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Encore Concrete LTD.</title>
		<script>
			function multiplyBy() {
				num1 = document.getElementById('firstNumber').value;
				num2 = document.getElementById('secondNumber').value;
				document.getElementById('result').innerHTML = (num1 * num2).toFixed(2);
			}
			function convertBy() {
				num1 = document.getElementById('inches').value;
				document.getElementById('answer').innerHTML = (num1 / 12).toFixed(2);
			}
			function classicbrick() {
				num1 = document.getElementById('ClassicBrick').value;
				document.getElementById('result1').innerHTML = (num1 * 4.5).toFixed(1);
			}
			function houndstooth() {
				num1 = document.getElementById('HoundsTooth').value;
				document.getElementById('result2').innerHTML = (num1 * 3).toFixed(1);
			}
			function chevron() {
				num1 = document.getElementById('Chevron').value;
				document.getElementById('result3').innerHTML = (num1 * 3).toFixed(1);
			}
			function moroccan() {
				num1 = document.getElementById('Moroccan').value;
				document.getElementById('result4').innerHTML = (num1 * 3).toFixed(1);
			}
			function pillar() {
				num1 = document.getElementById('Piller').value;
				document.getElementById('result5').innerHTML = (num1 * 3).toFixed(1);
			}
			function lbrick() {
				num1 = document.getElementById('Lbrick').value;
				document.getElementById('result6').innerHTML = (num1 * 3).toFixed(1);
			}
			function tsquare() {
				num1 = document.getElementById('Tsquare').value;
				document.getElementById('result7').innerHTML = (num1 * 2.25).toFixed(1);
			}
			function dcrescent() {
				num1 = document.getElementById('Dcrescent').value;
				document.getElementById('result8').innerHTML = (num1 * 3.5).toFixed(1);
			}
			function clover() {
				num1 = document.getElementById('Clover').value;
				document.getElementById('result9').innerHTML = (num1 * 2.5).toFixed(1);
			}
			function mclover() {
				num1 = document.getElementById('Mclover').value;
				document.getElementById('result10').innerHTML = (num1 * 2.5).toFixed(1);
			}
		</script>
		<style>
			* {
				font-family: Verdana, Geneva, Tahoma, sans-serif;
			}
			h1 {
				text-decoration: underline;
			}
			p {
				font-weight: bold;
			}
			.header {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 1rem;
			}
			.middle {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
			.card {
				/* Add shadows to create the "card" effect */
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				transition: 0.3s;
			}

			/* On mouse-over, add a deeper shadow */
			.card:hover {
				box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
			}

			/* Add some padding inside the card container */
			.container {
				padding: 1rem;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<h1>Encore Concrete LTD.</h1>
			<h2>Inches to Feet Calculator</h2>
			<form>
				Inches(in): <input type="text" id="inches" /><br />
				<input type="button" onClick="convertBy()" value="Convert" />
			</form>
			<p>
				The Result is : <br />
				<span id="answer"></span>
				Feet
			</p>
			<h2>Square Footage Calculator</h2>
			<form>
				Length(ft): <input type="text" id="firstNumber" /><br />
				Width(ft): <input type="text" id="secondNumber" /><br />
				<input type="button" onClick="multiplyBy()" value="Convert" />
			</form>
			<p>
				The Result is : <br />
				<span id="result"></span>
				Sq. Ft.
			</p>
		</div>
		<div class="middle">
			<div class="card">
				<div class="container">
					<h3>Classic Brick</h3>
					<form>
						Square Footage Required:
						<input type="text" id="ClassicBrick" /><br />
						<input
							input
							type="button"
							onClick="classicbrick()"
							value="Convert"
						/>
					</form>
					<p>
						The Result is : <br />
						<span id="result1"></span>
						Pieces Required
					</p>
				</div>
			</div>
			<div class="card">
				<div class="container">
					<h3>3D Hounds-Tooth</h3>
					<form>
						Square Footage Required:
						<input type="text" id="HoundsTooth" /><br />
						<input
							input
							type="button"
							onClick="houndstooth()"
							value="Convert"
						/>
					</form>
					<p>
						The Result is : <br />
						<span id="result2"></span>
						Pieces Required
					</p>
				</div>
			</div>
			<div class="card">
				<div class="container">
					<h3>3D Chevron</h3>
					<form>
						Square Footage Required: <input type="text" id="Chevron" /><br />
						<input input type="button" onClick="chevron()" value="Convert" />
					</form>
					<p>
						The Result is : <br />
						<span id="result3"></span>
						Pieces Required
					</p>
				</div>
			</div>
			<div class="card">
				<div class="container">
					<h3>3D Moroccan</h3>
					<form>
						Square Footage Required: <input type="text" id="Moroccan" /><br />
						<input input type="button" onClick="moroccan()" value="Convert" />
					</form>
					<p>
						The Result is : <br />
						<span id="result4"></span>
						Pieces Required
					</p>
				</div>
			</div>
			<div class="card">
				<div class="container">
					<h3>Mini Pillar</h3>
					<form>
						Square Footage Required: <input type="text" id="Piller" /><br />
						<input input type="button" onClick="pillar()" value="Convert" />
					</form>
					<p>
						The Result is : <br />
						<span id="result5"></span>
						Pieces Required
					</p>
				</div>
			</div>
			<div class="card">
				<div class="container">
					<h3>L Shaped Classic Brick</h3>
					<form>
						Square Footage Required: <input type="text" id="Lbrick" /><br />
						<input input type="button" onClick="lbrick()" value="Convert" />
					</form>
					<p>
						The Result is : <br />
						<span id="result6"></span>
						Pieces Required
					</p>
				</div>
			</div>
			<div class="card">
				<div class="container">
					<h3>Textured Square</h3>
					<form>
						Square Footage Required: <input type="text" id="Tsquare" /><br />
						<input input type="button" onClick="tsquare()" value="Convert" />
					</form>
					<p>
						The Result is : <br />
						<span id="result7"></span>
						Pieces Required
					</p>
				</div>
			</div>
			<div class="card">
				<div class="container">
					<h3>Dual Crescent</h3>
					<form>
						Square Footage Required: <input type="text" id="Dcrescent" /><br />
						<input input type="button" onClick="dcrescent()" value="Convert" />
					</form>
					<p>
						The Result is : <br />
						<span id="result8"></span>
						Pieces Required
					</p>
				</div>
			</div>
			<div class="card">
				<div class="container">
					<h3>3D Clover</h3>
					<form>
						Square Footage Required: <input type="text" id="Clover" /><br />
						<input input type="button" onClick="clover()" value="Convert" />
					</form>
					<p>
						The Result is : <br />
						<span id="result9"></span>
						Pieces Required
					</p>
				</div>
			</div>
			<div class="card">
				<div class="container">
					<h3>3D Mini Clover</h3>
					<form>
						Square Footage Required: <input type="text" id="Mclover" /><br />
						<input input type="button" onClick="mclover()" value="Convert" />
					</form>
					<p>
						The Result is : <br />
						<span id="result10"></span>
						Pieces Required
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
